<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <!-- use OpenApi servlet to serve spec -->
        <servlet-name>OpenApi</servlet-name>
        <servlet-class>io.swagger.v3.jaxrs2.integration.OpenApiServlet</servlet-class>

        <init-param>
            <param-name>openApi.configuration.resourceClasses</param-name>
            <param-value>org.oscm.rest.account.BillingContactResource, org.oscm.rest.swagger.SwaggerBootstrap
            </param-value>
        </init-param>
        <init-param>
            <param-name>openApi.configuration.prettyPrint</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OpenApi</servlet-name>
        <url-pattern>/openapi/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ApiFilter</filter-name>
        <filter-class>org.oscm.rest.swagger.ApiFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ApiFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
