<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- FIXME: Move this config to Java class (in scope od oscm-rest-api#44)-->
    <login-config>
           <auth-method>BASIC</auth-method>
           <realm-name>bss-realm</realm-name>
    </login-config>

    <security-constraint>
           <web-resource-collection>
              <web-resource-name>Secured REST Service with JAAS</web-resource-name>
              <url-pattern>/</url-pattern>
           </web-resource-collection>
           <auth-constraint>
              <role-name>*</role-name>
           </auth-constraint>
    </security-constraint>

    <security-role>
           <role-name>ORGANIZATION_ADMIN</role-name>
    </security-role>
    <security-role>
           <role-name>SUBSCRIPTION_MANAGER</role-name>
    </security-role>
    <security-role>
           <role-name>UNIT_ADMINISTRATOR</role-name>
    </security-role>
    <security-role>
           <role-name>SERVICE_MANAGER</role-name>
    </security-role>
    <security-role>
           <role-name>RESELLER_MANAGER</role-name>
    </security-role>
    <security-role>
           <role-name>BROKER_MANAGER</role-name>
    </security-role>
    <security-role>
           <role-name>TECHNOLOGY_MANAGER</role-name>
    </security-role>
</web-app>
